<form [formGroup]="form">
    <span>Emetteur : </span>
        <input appAppNumericInput type="text" id="emetIden" 
            maxlength="12"
            formControlName="emetIden" 
            (blur)="onTouch()"
        >
        /
        <input appAppNumericInput type="text" if="actiIden"  
            maxlength="12"
            formControlName="actiIden"
            (blur)="onTouch()"
        >
</form>
<div *ngIf="ngControl.control?.invalid && ngControl.control?.touched">
    Invalid {{ ngControl.control?.errors | json }}
</div>