<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div>
        <fieldset>
            <label for="simpleInput">Simple input</label>
            <input type="text" formControlName="simpleInput" />
        </fieldset>
        <app-ref-client-input-ng-model formControlName="refClient">
        </app-ref-client-input-ng-model>
    </div>
    <button type="submit" [disabled]="formGroup.invalid">Valider</button>
</form>
<pre>
    {{ formGroup.value | json}}
    {{ formGroup.controls.simpleInput.errors | json }}
    {{ formGroup.controls.refClient.errors | json }}
</pre>